@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
* { box-sizing: border-box; margin: 0; }

html, body { background: #fff; height: 100%; overflow: hidden; font-family: 'Montserrat', helvetica, arial, sans-serif; }

.container { position: relative; display: block; width: 100vmin; height: 100%; margin: auto; z-index: 100; }

.container .carousel { position: absolute; background: #000; transform: translateY(100%); will-change: transform; width: 100%; height: 100%; z-index: 10; }

.container .carousel .info_back { position: absolute; top: 0; width: 100%; height: 13vh; z-index: 30; background-position: center 2%; background-size: cover; text-align: center; }

.container .carousel .info_back h1 { text-align: center; color: #fff; margin-top: 1vh; font-weight: 300; font-size: 3vh; text-transform: uppercase; letter-spacing: 15px; opacity: 0; }

.container .carousel .info_back h1 .letter { display: inline-block; line-height: 1em; opacity: 0; }

.container .carousel .info_back:after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-image: linear-gradient(transparent, #000); opacity: 1; }

.container .carousel .active { display: block !important; }

.container .carousel .citem { display: none; background: #fff; width: 100%; height: auto; text-align: justify; transition: all 0.4s; }

.container .carousel .citem h1 { color: #000; font-weight: 400; margin-top: 15vh; padding: 2vmin 7vmin; display: block; width: 100%; background: #eee; text-transform: uppercase; }

.container .carousel .citem h1 .citem_btn { display: inline-block; float: right; }

.container .carousel .citem h1 .citem_btn button { background-color: inherit; font-size: 32px; font-size: 2rem; }

.container .carousel .citem .mokup .mokup_img { background-image: url(); background-repeat: no-repeat; }

.container .carousel .citem .mokup .mokup_com { width: 100vmin; height: 50vmin; background-image: url("../img/Mockup.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; }

.container .carousel .citem .process_btn { width: 100%; height: auto; padding: 3vmin 20vmin; }

.container .carousel .citem .process_btn a { width: 14vw; height: 60px; box-shadow: 1px 1px 5px #aaa; text-align: center; line-height: 60px; text-transform: uppercase; }

.container .carousel .citem .process_btn a:hover { border: 1px solid #aaa; }

.container .carousel .citem .process_btn a:first-child { float: left; }

.container .carousel .citem .process_btn a:last-child { float: right; }

.container .menu { position: fixed; width: 100%; height: 100%; z-index: 10; background: #fff; display: none; }

.container .menu .logo_img { position: fixed; width: 30vmin; height: 30vmin; top: 50%; left: 50%; margin-top: -15vmin; margin-left: -15vmin; background-image: url("../img/my_logo_bk.svg"); background-repeat: no-repeat; background-size: cover; }

.container .menu .close { position: absolute; display: flex; align-items: center; justify-content: center; top: 50%; left: 50%; width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; box-shadow: 1px 1px 5px #aaa; cursor: pointer; }

.container .fixed_banner { position: absolute; width: 100%; z-index: 5; }

.container .fixed_banner i { position: absolute; right: 25px; top: 25px; font-size: 30px; cursor: pointer; }

.container .content { position: relative; width: 100%; height: 73vh; text-align: center; }

.container .content .title { font-weight: 300; font-size: 5.8vh; color: #ccc; letter-spacing: 15px; text-transform: uppercase; padding-top: 6vh; opacity: 0; }

.container .content .title .letter { display: inline-block; line-height: 1em; opacity: 0; }

.container .content .helmet { position: absolute; width: 100%; height: 100%; top: 9vmin; }

.container .content .helmet img { position: absolute; width: 58vmin; margin: auto; top: 12vmin; bottom: 0vmin; left: 0; right: 0; user-drag: none; user-select: none; -moz-user-select: none; -webkit-user-drag: none; -webkit-user-select: none; -ms-user-select: none; }

.container .content .helmet .planet_position { position: absolute; width: 37vmin; height: 37vmin; background: #000; box-shadow: 0 10px 20px 10px black; border-radius: 50%; margin: auto; top: 0; bottom: 12vmin; left: 0; right: 0; z-index: 1; overflow: hidden; }

.container .content .helmet .planet_position .planet_shadow { position: absolute; width: 100%; height: 100%; box-shadow: inset 0 -1.5vmax 3vmax 1.2vmax black; border-radius: 50%; z-index: 10; }

.container .content .helmet .planet_position .planet_photo { position: absolute; width: 100%; height: 100%; background: url("../img/my_logo.svg"); background-repeat: no-repeat; background-position: center; background-size: 80%; z-index: 1; will-change: background; }

.container .bottom { position: absolute; bottom: 0; width: 100%; height: 28vh; }

.container .bottom .nav { width: 100%; height: 40px; padding-top: 15px; }

.container .bottom .nav span { color: #999; cursor: pointer; }

.container .bottom .nav span i { font-size: 40px; font-weight: 200; }

.container .bottom .nav span:nth-child(1) { padding-left: 10vmin; }

.container .bottom .nav span:nth-child(2) { padding-right: 10vmin; float: right; }

.container .bottom .orbit { position: absolute; top: 5vh; width: 100%; height: 100vmin; border-radius: 50%; border: 3px solid #eee; margin: auto; left: 0; right: 0; }

.container .bottom .orbit .planet_container { width: 100%; height: 100%; border-radius: 50%; transition: transform 0.7s ease-in; }

.container .bottom .orbit .planet_container .planet { position: absolute; border-radius: 50%; width: 5vmin; height: 5vmin; transition: transform 0.4s linear; will-change: transform; }

.container .bottom .orbit .planet_container .pt { transition: transform 0.4s ease-in; transform: scale(1.7); will-change: transform; }

.container .bottom .orbit .planet_container .earth { background: #3399ff; top: -2.5vmin; left: 0; right: 0; margin: auto; }

.container .bottom .orbit .planet_container .earth .moon span { top: -1vmin; left: -1vmin; }

.container .bottom .orbit .planet_container .mars { background: #FDB05E; right: 12vmin; top: 12vmin; }

.container .bottom .orbit .planet_container .mars .moon span { width: 0.5vmin; height: 0.5vmin; }

.container .bottom .orbit .planet_container .mars .moon span:nth-child(1) { top: -1vmin; left: -1vmin; }

.container .bottom .orbit .planet_container .mars .moon span:nth-child(2) { left: 1vmin; bottom: -1vmin !important; }

.container .bottom .orbit .planet_container .jupiter { background: #996633; right: -2.5vmin; bottom: 46.5vmin; }

.container .bottom .orbit .planet_container .saturn { background: #8A8975; right: 12vmin; bottom: 12vmin; }

.container .bottom .orbit .planet_container .saturn .ring { position: absolute; width: 100%; height: 100%; box-shadow: 0 0 0 5px #fff, 0 0 0 8px rgba(0, 0, 0, 0.5), 0 0 0 12px #d6d6c2; border-radius: 50%; }

.container .bottom .orbit .planet_container .uranus { background: #C4EAED; right: 0; left: 0; margin: auto; bottom: -2.5vmin; }

.container .bottom .orbit .planet_container .neptune { background: #3347BA; left: 12vmin; bottom: 12vmin; }

.container .bottom .orbit .planet_container .mercury { background: #6E6E6E; left: -2.5vmin; bottom: 46.5vmin; }

.container .bottom .orbit .planet_container .venus { background: #d2a679; left: 12vmin; top: 12vmin; }

.container .bottom .orbit .name_container { position: absolute; display: flex; width: auto; margin: auto; left: 0; right: 0; top: 8vh; text-align: center; align-items: center; justify-content: center; flex-wrap: wrap; }

.container .bottom .orbit .name_container .more { width: 100%; padding: 8px 0; color: #bbb; font-weight: 500; cursor: pointer; transition: color 0.2s; }

.container .bottom .orbit .name_container .more:hover { color: #888; transition: color 0.3s; }

.container .bottom .orbit .name_container .pn { font-size: 25px; color: #666; text-transform: uppercase; padding-bottom: 4px; letter-spacing: 8px; padding-left: 8px; border-bottom: 3px solid #bbb; }

.container .bottom .orbit .name_container .pn .letter { display: inline-block; line-height: 1em; opacity: 0; }

.moon { width: 100%; height: 100%; animation: planet_rotation 2s infinite linear; }

.moon span { width: 0.8vmin; height: 0.8vmin; background: #000; border-radius: 50%; position: absolute; }

#resumeBox { width: 100%; height: 100%; background-image: url("../img/resume.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

.del { padding: 30px 60px; float: right; }

.del a { display: block; width: 60px; height: 60px; background-color: #fff; text-align: center; line-height: 60px; box-shadow: 1px 1px 1px 1px #aaa; }

.del a:hover { border: 1px solid #aaa; }

@keyframes planet_rotation { from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }
